* {
    text-decoration: none;
    color: white;

}

body {
    background-color: black;
}

nav {
    width: 100%;
    padding: 10px;
    background-color: black;

    display: flex;
    justify-content: center;
    gap: 20px;
}

nav > a {
    background-color:#505750;
    color: #fff;
    border:none; 
    border-radius:10px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
}

nav > a:hover {
    background-color:#516d51;
    padding: 11px;
}

h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
}

.sublinhado {
    text-decoration: underline;
}

.verde {
    color: greenyellow;
}

#maiusculas {
    text-transform: uppercase;
}