* {
    text-decoration: none;
    color: white;

}

body {
    background-color: black;
}

.sublinhado {
    text-decoration: underline;
}

.verde {
    color: greenyellow;
}

#maiusculas {
    text-transform: uppercase;
}